@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.container {
  width: 100%;
}
.heading {
  color: blue;
  font-size: 24px;
  text-align: center;
}

.number{
  color: green;
  font-size: 85px;
  text-align: center;
}

